@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  background: #603813;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #b29f94, #603813);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #b29f94, #603813);
  height:100vh;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.CounterWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;

}